.uploadproduct
{
    
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    width:80%;
    height:100vh;
    z-index:13000;
    background-color: #fff;
    text-align: center;
    padding:10px;
    font-size:1.2rem;
    overflow-y:auto;
    display:none;

}
.brd
{
    height:1px;
    background-color: #000;
    width:100%;
    margin:0 auto;
    background-image: linear-gradient(left , white 2%, #000 50%, white 98%);
    background-image: -o-linear-gradient(left , white 2%, #000 50%, white 98%);
    background-image: -moz-linear-gradient(left , white 2%, #000 50%, white 98%);
    background-image: -webkit-linear-gradient(left , white 2%, #000 50%, white 98%);
}
.upl
{
    width:80%;
    height:auto;
    padding:20px 0px;
    margin-left: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
}   
.boxer
{
    width:100%;
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.fle
{
    padding:8px;
    width:20rem;
    margin-top:1rem;
    border:1px solid #e3e3e3;
}
.fle_btn
{
    padding:10px;
    border:none;
    background-color:silver;
    border-radius:3px;
    font-size:1rem;
}
.fle_btn:hover
{
    background-color:darkgoldenrod;
    color:#fff;
    transition:50ms all;
}
.utbl
{
    width:100%;
    border-collapse: collapse;
    
}
.utbl th
{
    font-family: 'poppins';
    font-size:.9rem;
    background-color: #403f3d;
    color:white;
    padding:10px;
}
.utbl td
{
    font-family:'poppins';
    font-size:.9rem;
    border:1px solid #e3e3e3;
    text-align: center;
    padding:10px;
    width:auto;
}
.utbl tr:nth-child(even)
{
    background-color: #e3e3e3;
}
.utbl tr:hover
{
    background-color: #e3e3e3;
}
.trsh
{
    font-size:2rem;
}
.flem
{
    padding:5px;
    border:none;
    width:50px;
    font-size:.8rem;
}
.userform
{
    padding:20px;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.uform
{
    margin-top:10px;
    padding:10px;
    border:1px solid #e3e3e3;
    width:40rem;
    border-radius:5px;
}
.uaddress
{
    border:1px solid #e3e3e3;
    border-radius:5px;
    width:40rem;
    resize: none;
    padding:12px 20px;
    color:#403f3d;
    font-size:16px;
}
.subwindow
{
    width:100%;
    display: flex;
    flex-direction: row;
    padding:60px;
    text-align: center;
    position: relative;
}
.subtn
{
    padding:20px;
    width:200px;
    border:none;
    background-color:#3cb371;
    color:#fff;
    font-size:1rem;
    margin:auto;
    position:absolute;
    left:50%;
    right:50%;  
    transform: translate(-50%, -50%);
    border-radius:5px;
}
.subtnc
{
    padding:20px;
    width:200px;
    border:none;
    background-color:#cd5c5c;
    color:#fff; 
    font-size:1rem;
    margin:auto;
    position:absolute;
    left:50%;
    right:50%;  
    transform: translate(-50%, -50%);
    border-radius:5px;
}
.subtn:active, .subtnc:active
{
    background-color: silver;
    color:black;
}


.masterwindow
{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.account
{
    padding:40px;
}
.ttl
{
    width:100%;
    border-collapse: collapse;
}
.ttl td
{
    width:300px;
    font-size:.9rem;
    border:1px solid #e3e3e3;
    text-align: center;
    padding:20px;  
}






@media only screen and (max-width: 600px) 
{
    .uploadproduct
    {
        position: fixed;
        top:58%;
        left:50%;
        right:50%;
        width:100%;
    }
    .fle
    {
        margin-top:1rem;
        border:1px solid #e3e3e3;
    }
    .uform
    {
        width:100%;
    }
    .uaddress
    {
        width:100%;
    }
    .masterwindow
    {
        display: flex;
        flex-direction:column;
        justify-content: space-between;
    }
    .ttl
    {
        table-layout: auto;
    }
    .ttl td
    {
        width:100%;
        font-size:.9rem;
        border:1px solid #e3e3e3;
        text-align: center;
        padding:10px;  
    }
}