{% load static %}
 <!--backgrounds-->
<section id="maincontent">
    <section class="banner">    
        <div class="banner_container"></div>    
        <div class="sharp"></div>
    </section>
    <!--icons-->
    <center>
    <section class="icons">
            <div class="ic1">
                <img src="{% static '/Image/tag.svg' %}" width="100" height="100"/>
                <h1>Geniune Price</h1>
                <p>Quality products at economic price is the main motto for us.</p>
            </div>
            <div class="ic1">
                <img src="{% static './Image/quality.png' %}" width="100" height="100"/>
                <h1>Best Quality</h1>
                <p>Quality products at economic price is the main motto for us.</p>
            </div>
            <div class="ic1">
                <img src="{% static '/Image/shield.png' %}" width="100" height="100"/>
                <h1>Safe to Use</h1>
                <p>Quality products at economic price is the main motto for us.</p>
            </div>
        </div>
    </section>
</center>
    <!--contents-->
    <section class="content">
        <center>
        <div class="con_container">
            <a href="#" class="head active">ALL</a>
            <a href="#" class="head">NEW CRACKERS</a>
            <a href="#" class="head">Featured Crackers</a>
            <a href="#" class="head">Shop By Categories</a>
        </div>
        </center>
    </section>
    <!--Main Content-->
    <section class="main_content">
        <div class="crackers">
            <h1>OUR PRODUCTS</h1>
            <div class="crack_item">
                <div class="crack_icon"><img src="{% static '/Image/homeimage/flowerpots.jpg'%}" /></div>
                <h5>Sound Crackers </h5>
                <p>Laxmi, Laxmi Deluxe, Laxmi Gold, Garlands, Bombs...</p>
            </div>
            <div class="crack_item">
                <div class="crack_icon"><img src="{% static '/Image/homeimage/flw.jpg'%}"></div>
                <h5>Flower Pots</h5>
                <p>Multicolor Giant, Multicolor Deluxe, Color Koti Deluxe...</p>
            </div>
            <div class="crack_item">
                <div class="crack_icon"><img src="{% static '/Image/homeimage/ground.webp'%}"/></div>
                <h5>Ground Chakkras </h5>
                <p>Chakkar Big, Chakkar Special, Chakkar Ashoka...  </p>
            </div>
        </div>
        <div class="crackers">
            <div class="crack_item">
                <div class="crack_icon"><img src="{% static '/Image/homeimage/spark.avif'%}"/></div>
                <h5>Sparklers & Novelties </h5>
                <p>Multi Glitter Sparklers, Crackling, Electric, Red , Green,..</p>
            </div>
            <div class="crack_item">
                <div class="crack_icon"><img src="{% static '/Image/homeimage/sky.png'%}"/></div>
                <h5>Fancy & Sky Shots</h5>
                <p>Multicolor Shot, Crackling Shot, Whistling Shot, Fountain...</p>
            </div>
            <div class="crack_item">
                <div class="crack_icon"><img src="{% static '/Image/homeimage/giftbox.jpg'%}"/></div>
                <h5>Gift Boxes</h5>
                <p>Mini box, Budget box, Special box, Royal box, Deluxe box...</p>
            </div>
        </div>
    </section><br/>
    <!--Terms and conditions--> 
    <section class="brands">
        <div class="tot_quo">
            <div class="term_head">
                <h3>TERMS AND CONDITIONS</h3>
                <Br/>
                <div class="cod"></div>
            </div>
            <div class="brand_quo">
                <i class="fa fa-check clr">&nbsp;<span class="quo">All Prices Are Ex.Shop Sivakasi.</span></i>
                <i class="fa fa-check clr">&nbsp;<span class="quo">Net Rate Prices Attracts No Discount.</span></i>
                <i class="fa fa-check clr">&nbsp;<span class="quo">Goods will be dispatched on CASH & CARRY basic only</span></i>
                <i class="fa fa-check clr">&nbsp;<span class="quo">Get a call with in 24hours when your order is placed</span></i>
                <i class="fa fa-check clr">&nbsp;<span class="quo">Goods will be delivered with in 2 to 3days after you successfully completed yours payment</span></i>
            </div>
        </div>
    </section>
    <br/>
    <section class="ads">
        <div class="ads_banner"></div>
    </section>
    <!--OUR Brands-->
    <section class="brand" style="display:none;">
        <div class="brand_head">
            <h3>Greetings</h3>
            <Br/><br/>
            <div class="cod"></div> 
        </div>
        <div class="brand_icons">
            <h1></h1>
        </div> 
    </section>
    <section class="fooban"> </section>
    
</section>

