<footer>
    <div class="footer_container">
        <div class="footer_part1">
            <div class="footer_head">Golden Eagle Crackers</div>
            <p>Days Were Gone, Where We Celebrated Deepavali With Ground Chakkars, Flower Pots, Sparklers Etc.. We offer the best quality products at best price. Make celebrations more memorable with Golden eagle Crackers.</p>
         </div>
         <div class="footer_part1">
            <div class="footer_head">Contact Us</div>
            <div class="adder">
                <div class="inneradr">
                    <p class="add"></p>
                    <div>Sivakasi-Chattur Road, <br/>(OPP : MRF Tyre company), <br/> meenampatti,Sivakasi - 626 189</div>
                </div>
                <div class="inneradr">
                    <p class="fa fa-whatsapp icn"></p>
                    <div>+91 7598338162</div>
                </div>
                <div class="inneradr">
                    <p class="fa fa-mobile icn"></p>
                    <div> +91 9025532959</div>
                </div>
                <div class="inneradr">
                    <p class="fa fa-envelope icn"></p>
                    <div>golden Eagle Crackers@gmail.com</div>
                </div>
            </div>
         </div>
    </div>
    <div class="stement">
        <p>
            As per 2018 supreme court order, online sale of firecrackers are not permitted! We value our customers and at the same time, respect jurisdiction. We request you to add your products to the cart and submit the required crackers through the enquiry button. We will contact you within 24 hrs and confirm the order through WhatsApp or phone call. Please add and submit your enquiries and enjoy your Diwali with Golden Eagle Crackers Crackers. Our License No.----. Golden Eagle Crackers Crackers as a company following 100% legal & statutory compliances and all our shops, go-downs are maintained as per the explosive acts. We send the parcels through registered and legal transport service providers as like every other major companies in Sivakasi is doing so.
        </p>
     </div>
</footer>
<section class="copyright">
    <div class="copy_banner">
        <div class="copy_1">Golden Eagle Crackers</div>
        <div class="copy_1">@ All Rights Reserved</div>
    </div>
</section>