
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static '/CSS/safty.css' %}" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
       <div class="child_safty">
         <h1>SAFTY TIPS </H1>
       </div>
       <div class="saf_logo">
            <h1>Golden Eagle Crackers </h1>
            <p>There are certain Do's & Don’ts to follow while purchasing, bursting and storing crackers. Thus, it is very important to follow the precautions while bursting crackers. A little negligence, ignorance and carelessness can cause a fatal injury.</p>
       </div>
       <div class="saf_banner">
            <div class="part1">
                <div class = "para_head">
                    <h1>Do's</h1>
                </div>
                <div class = "para">
                    <i class="fa fa-check"><span>Buy the fireworks from the reliable sellers possessing licence.</span></i>
                    <i class="fa fa-check"><span>Buy the fireworks from the reliable sellers possessing licence.</span></i>
                    <i class="fa fa-check"><span>Buy the fireworks from the reliable sellers possessing licence.</span></i>
                    <i class="fa fa-check"><span>Buy the fireworks from the reliable sellers possessing licence.</span></i>
                    <i class="fa fa-check"><span>Buy the fireworks from the reliable sellers possessing licence.</span></i>
                    <i class="fa fa-check"><span>Buy the fireworks from the reliable sellers possessing licence.</span></i>
                </div><br/>
                <div class = "para_head">
                    <h1>Don't's</h1>
                </div>
                <div class = "para">
                    <i class="fa fa-trash"><span>Buy the fireworks from the reliable sellers possessing licence.</span></i>
                    <i class="fa fa-trash"><span>Buy the fireworks from the reliable sellers possessing licence.</span></i>
                    <i class="fa fa-trash"><span>Buy the fireworks from the reliable sellers possessing licence.</span></i>
                    <i class="fa fa-trash"><span>Buy the fireworks from the reliable sellers possessing licence.</span></i>
                    <i class="fa fa-trash"><span>Buy the fireworks from the reliable sellers possessing licence.</span></i>
                    <i class="fa fa-trash"><span>Buy the fireworks from the reliable sellers possessing licence.</span></i>
                </div>
            </div>
            <div class="part2">
                <div class ="img">
                    <img src="{% static 'Image/safetytips.png'%}" alr=''/>
                </div>
            </div>
       </div>
    </body>
</html>